<div class="row">
	<aside class="span4">
		<section class="user_header">
			<% if signed_in? %>
				<h1> 
					<%= gravatar_for @user %>
					<%= @user.user_name %> 
				</h1>
			<% else %>
				<%= link_to image_tag("SumoChefRed.png", alt: "Sumo!!!!"), root_path %>
			<% end %>
		</section>
		<section class="search">
			<%= render 'shared/search_form' %>
		</section>
		<% if signed_in? %>
			<section class="shopping_list">
				<h3>Shopping Lists</h3>
				<% if @user.any_active_shopping_lists? %>
					<%= render @shopping_lists %>
					<%= will_paginate @shopping_lists, param_name: 'list_page' %>
				<% else %>
					<p class="alert"> You have no active shopping lists.  Please select a recipe or create a new shopping list to get started </p>
				<% end %>
			</section>
		<% end %>
	</aside>
	<div class="span7 offset1">
	   <h3>Recipes (<%= @recipes.count %>) 
	   	<% if signed_in? %>
	   		<%= link_to "Add new recipe", recipe_new_path,  class: "pull-right btn btn-primary" %>
	   	<% end %>
	   </h3>
	   <ol class="recipes">
	     <%= render @recipes %>
	   </ol>
	   <%= will_paginate @recipes, class: 'pagination pagination-small' %>
	</div>
</div>