<% provide(:title, @user.user_name) %> 
<div class="row">
	<aside class="span3">
		<section class="user_header">
			<h1> 
				<%= gravatar_for @user %>
				<%= @user.user_name %> 
			</h1>
		</section>
		<section class="shopping_list">
			<h3>Active Shopping Lists</h3>
			<% if @user.any_active_shopping_lists? %>
				<%= render @shopping_lists %>
				<%= will_paginate @shopping_lists, param_name: 'list_page' %>
			<% else %>
				<p class="alert"> You have no active shopping lists.  Please select a recipe or create a new shopping list to get started </p>
			<% end %>
		</section>
	</aside>

	<div class="span8 offset1">
    <% if @user.recipes.any? %>
      <h3>Recipes (<%= @user.recipes.count %>)</h3>
      <ol class="recipes">
        <%= render @recipes %>
      </ol>
      <%= will_paginate @recipes, param_name: 'recipe_page' %>
    <% end %>
  </div>
</div>