<div class="well <%= shopping_list.state %>">
	<h4><%= link_to shopping_list.description, shopping_list %></h4>
  	<p class="state"><strong>Status: </strong><%=shopping_list.state.titlecase %></p>
  	<ol class="products">
  		<% shopping_list.to_buys.each do |to_buy| %>
  			<li class="product"> <%= to_buy.product_name %> </li>
  		<% end %>
 	</ol>
  	<span class="timestamp">
  		Shopping list created <%= time_ago_in_words(shopping_list.created_at) %> ago.
  	</span>
</div>