<% if signed_in? %>
	<div>
      <h3>Shopping Lists (<%= @shopping_lists.count %>) <%= link_to "Add new shopping list", new_shopping_list_path,  class: "pull-right btn btn-primary" %></h3>
      <ol class="shopping_lists">
        <%= render @shopping_lists %>
      </ol>
      <%= will_paginate @shopping_lists, class: 'pagination pagination-small' %>
  </div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to SumoChef!!</h1>

		<h2>
			This is SumoChef Recipe Finder and Shopping List
		</h2>
		<div>
			<%= link_to image_tag("SumoChefRed.png", alt: "Sumo!!!!"), '#' %>
		</div>

		<div>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
<% end %>